In [76]:
import pandas as pd
import numpy as np
import seaborn as sns
import sklearn

In [77]:
df1=pd.read_csv("C:/Users/tomer/Desktop/תואר ראשון/שנה ב/file_games.csv")

In [78]:
def remove_missing_rows(df):
    df_copy=df.copy()
    df_copy.dropna(subset=["game_name"],inplace=True)
    return df_copy

In [79]:
def Remove_Duplicates(df):
    df_copy=df.copy()
    df_copy.drop_duplicates(subset='game_name', inplace=True)
    return df_copy

In [80]:
def remove_cols(df):
    del df["age_raiting1"]
    del df["age_rating2"]
    del df["age_rating3"]
    del df["age_rating4"]
    del df["age_rating5"]
    del df["age_raiting6"]
    del df["app_header"]
    return df

In [81]:
def binary_offers(df):
    df_copy=df.copy()
    df_copy["offers"]=np.where(df_copy["offers"]=="Offers In-App Purchases",1,0)
    return df_copy

In [82]:
def numeric_price(df):
    # Create a copy of DataFrame
    df_copy=df.copy()

    # Replace "Free" to 0
    df_copy['game_price'] = df_copy['game_price'].replace(['Free'], float(0))
    
    return df_copy

In [83]:
def parse_price_to_float(input):
    # Check if the input is a number
    try:
        float(input)

    # Convert the unput to a number 
    except:
        input=float(input[1:])

    return input

In [84]:
def from_age_to_numeric(df):
    df_copy=df.copy()
    str_list=[]
    str_list.clear()
    for str in df_copy["from_age"]:
        if(str=="4+"):
            str_list.append(4)
        elif(str=="9+"):
            str_list.append(9)
        elif(str=="12+"):
            str_list.append(12)
        elif(str=="17+"):
            str_list.append(17)
    df_copy["age"]=str_list
    del df_copy["from_age"]
    return df_copy

In [85]:
def raiting_to_numeric(df):
    df_copy=df.copy()
    df_copy['raiting'] = pd.to_numeric(df_copy['raiting'])
    df_copy = df_copy.fillna({'raiting': 0})
    return df_copy

In [86]:
def parse_string_to_int(input):
    try:
    # Split a string by whitespaces
        split_sentence = input.split()
    except:
        return input
    # Get the first word in the sentence
    first_word = split_sentence[0]

    # Get the last char for case identification
    last_char = first_word[-1]

    # Check if the last char is not a letter
    try:
        # Trigger the except
        int(last_char)
        
        parse_number = int(first_word)

    # If the last char is a letter
    except:
        if(last_char == 'K'):
            parse_number = int(float(first_word[:-1]) * 1000)

        if(last_char == 'M'):
            parse_number = int(float(first_word[:-1]) * 1_000_000)

        if(last_char == 'B'):
            parse_number = int(float(first_word[:-1]) * 1_000_000_000)

    return parse_number

In [87]:
def parse_size_to_float(input):

     split_sentence = input.split()

     first_word = split_sentence[0]
     
     try:
          second_word = split_sentence[1]
          if(second_word =='MB'):
               parse_number=float(float(first_word) * 1_000_000 )

          if(second_word =='GB'):
               parse_number=float(float(first_word) * 1_000_000_000 )

          if(second_word =='KB'):
               parse_number=float(float(first_word) * 1_000 )

     except:   

          return float(first_word)
    
     return parse_number

In [88]:
def split_category(input):
    
    
    split_sentence = input.split()

    last_word = split_sentence[-1]

    
    return last_word

In [89]:
def split_number_in_category(input):

    split_sentence = input.split()

    first_word = split_sentence[0]
    first_word = int(float(first_word[1:]))

    return first_word

In [90]:
df=remove_missing_rows(df1)
df=Remove_Duplicates(df)
df=remove_cols(df)
df=binary_offers(df)
df=from_age_to_numeric(df)
df=raiting_to_numeric(df)
df['raiting_amount'] = df['raiting_amount'].apply(parse_string_to_int)
df = df.fillna({'raiting_amount': 0})
df=numeric_price(df)
df['game_price']=df['game_price'].apply(parse_price_to_float)
df = df.fillna({'game_price': 0})
df['size_app']=df['size_app'].apply(parse_size_to_float)
df['number_in_category']=df['raiting_in_category'].apply(split_number_in_category)
df['category']=df['raiting_in_category'].apply(split_category)
del df["raiting_in_category"]
df.to_csv("C:/Users/tomer/Desktop/תואר ראשון/שנה ב/file_games_fixed.csv", index = True)
del df["Unnamed: 0"]
df

,game_name,seller,raiting,game_price,raiting_amount,offers,size_app,age,number_in_category,category
0,Jupiter Attack,RED SPRITE STUDIOS PTY LTD,4.6,1.99,110.0,1,3.210000e+07,4,16,Casual
1,Crazy Kick‪!‬,Voodoo,4.7,0.00,449200.0,1,5.751000e+08,12,20,Sports
2,Get the Supercar 3D,SUPERSONIC STUDIOS LTD,4.6,0.00,15800.0,1,2.350000e+08,12,59,Action
3,slither.io,Lowtech Studios LLC,4.0,0.00,213700.0,1,2.610000e+07,4,45,Action
4,Rec Room: Play with Friends,Rec Room Inc,4.8,0.00,510200.0,1,2.700000e+09,9,11,Adventure
...,...,...,...,...,...,...,...,...,...,...
3158,Charades Up Word Guessing Party Game by Quiz H...,Fat Free Apps - The Best Fun Games For All Kid...,4.5,0.00,73.0,0,2.860000e+07,12,37,Word
3159,Word Seek English Infinite,Sergio Licea,4.7,0.00,138.0,0,1.720000e+07,4,75,Word
3160,Boggle With Friends: Word Game,Zynga Inc.,4.5,0.00,38600.0,0,2.775000e+08,4,98,Word
3161,Words Mahjong - Search & merge,ETALON LTD,4.2,0.00,792.0,0,4.152000e+08,4,57,Word
3162,Hangman - King of the Word,Jarle Berntsen,0.0,0.00,0.0,0,3.233000e+08,4,61,Word